@{
    ViewBag.Title = "HomePageIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kütüphane Yönetim Sistemi</title>
    <link rel="stylesheet" href="styles.css"> <!-- CSS dosyasını bağlayabilirsiniz -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        header {
           /* background-color: #915555 ;*/
            color: white;
            margin-top:220px;
            text-align: center;
            padding: 1em 0;
        }

        main {
            flex: 1; /* Ana bölümün esnek olmasını sağlar */
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        h1 {
            font-size: 3em;
            margin: 0;
            color: #915555;
            font-weight:bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }

       
    </style>
</head>
<body>
    <header>
        <h1>Kütüphane Yönetim Sistemine</h1>



        <h1>Hoş Geldiniz!</h1>

    </header>
    
</body>
</html>

